
$primary-color: #1e90ff;
$secondary-color: #ff7f50;
$background-color: #8fe8dd;
$text-color: #212529;
$accent-color: #6f42c1;


$button-bg: $primary-color;
$button-text: #fff;

$link-color: $primary-color;
$link-hover: darken($primary-color, 10%);


$dark-background: #121212;
$dark-text: #080707;
