
$primary-color: #1e90ff;
$secondary-color: rgb(85, 121, 221);
$background-color: #8fe8dd;
$text-color: #212529;
$accent-color: #6f42c1;


$button-bg: $primary-color;
$button-text: #fff;

$link-color: $primary-color;


$dark-background: #121212;
$dark-text: #080707;
