.contact-form {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff; 
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    text-align: center;
    font-size: 1.2;
    color: #333;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border 0.3s ease;

    &:focus {
      border-color: #8fe8dd;;
      outline: none;
    }
  }


}
.contact-form button {
  background-color: #8fe8dd;
  color: #000;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 200;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: fit-content;  
  align-self: center; 

  &:hover {
    background-color: #8fe8dd;
    transform: translateY(-2px);
  }

  &:active {
    transform: scale(0.97);
  }
}

