@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : Quelques styles globaux */
body {
  @apply bg-white text-gray-800;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
 background-color: #eaf7f9;
}

html {
  scroll-behavior: smooth;
}
